#introductionSection{
    margin-bottom: 20rem;
}
#introductionSection h1{
    font-size: 5.5rem;
    line-height: 85px;
}
#introductionSection h2{
    text-wrap: balance;
}
#introductionSection .profileImage{
    display: block;
    margin-left: auto;
    border-radius: 50%;
    overflow: hidden;
}
#introductionSection .snsSection{
    display: flex;
    align-items: center;
}

@media(width<=992px){
    #introductionSection h1{
        font-size: 4.5rem;
    }
    #introductionSection .profileImage{
        width: 300px;
        height: auto;
    }
}
@media(width<=768px){
    #introductionSection{
        margin-bottom: 10rem;
    }
    #introductionSection h1{
        font-size: 2.7rem;
        line-height: 40px;
    }
    #introductionSection .profileImage{
        margin: auto;
    }
}