<section class="container" id="introductionSection">
    <div class="row">
        <div class="col-7 d-flex align-items-center">
            <div>
                <h1 class="titleSection">Adrián Morales Palomar</h1>
                <h2>{{'introduction.description' | translate}}</h2>
                <div class="snsSection">
                    <!-- <ng-container *ngFor="let el of snsData">
                        <div *ngIf="el.AsButton === true; else elseBlock">
                          <button class="aesyButton {{el.ClassName}} me-4" (click)="el.Url" target="_blank">
                            <img [src]="el.SrcIcon" alt="{{el.AltImg}}" width="30" height="30" priority>
                            <span class="{{el.ClassName}}">{{el.Name | translate}}</span>
                          </button>
                        </div>
                        <ng-template #elseBlock>
                          <div *ngIf="el.AsButton === false">
                            <a class="aesyButton {{el.ClassName}} me-4" href="{{el.Url}}" target="_blank">
                              <img [src]="el.SrcIcon" alt="{{el.AltImg}}" width="30" height="30" priority>
                              <span class="{{el.ClassName}}">{{el.Name | translate}}</span>
                            </a>
                          </div>
                        </ng-template>
                    </ng-container> -->
                    <ng-container *ngFor="let el of snsData">
                        <button *ngIf="el.AsButton === true; else elseBlock" class="aesyButton me-4 {{el.ClassName}}" (click)="DownloadCV()">
                            <img [src]="el.SrcIcon" alt="{{el.AltImg}}" width="30" height="30" priority>
                            <span class="{{el.ClassName}}">{{el.Name | translate}}</span>
                          </button>
                        <ng-template #elseBlock>
                            <a class="aesyButton me-4 {{el.ClassName}}" href="{{el.Url}}" target="_blank">
                                <img [src]="el.SrcIcon" alt="{{el.AltImg}}" width="30" height="30" priority>
                                <span class="{{el.ClassName}}">{{el.Name | translate}}</span>
                            </a>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col">
            <img ngSrc="{{pathImageGlobal}}profile.jpg" alt="ProfileImage" class="profileImage d-block ms-auto" width="400" height="400" priority>
        </div>
    </div>
</section>
