<section class="container" id="introductionSection">
    <div class="row">
        <div class="col">
            <h1>Adrián Morales Palomar</h1>
            <div class="row justify-content-start">
                <div class="col">Full-Stack</div>
                <div class="col">Perfectionist</div>
                <div class="col">Rebel</div>
            </div>
            <h4>Since my born fighting againts Great Empire, since my </h4>
        </div>
        <div class="col">
            <img ngSrc="assets/images/profile.jpg" alt="ProfileImage" class="profileImage" width="400" height="400" priority>
        </div>
    </div>
</section>
