<section class="container" id="introductionSection">
    <div class="row">
        <div class="col-7 d-flex align-items-center">
            <div>
                <h1 class="titleSection">Adrián Morales Palomar</h1>
                <h2>Little rebel who has being in love with Technology since very young and started coding at 14 </h2>
                <div class="snsSection">
                    <a *ngFor="let el of snsData" class="aesyButton {{el.ClassName}} me-4" href="{{el.Url}}" target="_blank">
                        <img ngSrc="{{el.SrcIcon}}" alt="{{el.AltImg}}" width="30" height="30" priority>
                        <span class="{{el.ClassName}}">{{el.Name}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <img ngSrc="{{pathImageGlobal}}profile.jpg" alt="ProfileImage" class="profileImage d-block ms-auto" width="400" height="400" priority>
        </div>
    </div>
</section>
