<app-config></app-config>
<app-introduction></app-introduction>

<section class="container">
    <div class="row row-cols-2">
        <div class="col">
            <div class="sticky-top" style="padding-top: 6rem;">
                <h1 class="titleSection">Adrián</h1>
                <h2 class="subtitleSection">{{'about.job' | translate}}</h2>
                <h5>{{'about.description' | translate}}</h5>
                <h5>{{'about.description2' | translate}}</h5>
                <app-header></app-header>
            </div>    
        </div>  
        <div class="col">
            <app-experience></app-experience>   
            <app-projects></app-projects>
            <app-skills></app-skills>
            <app-contact></app-contact>
        </div>
        
    </div>
</section>

<router-outlet></router-outlet>

<p-scrollTop styleClass="scrolltopButton"></p-scrollTop>