:root {
    --black-color: #121212;
    --blueAqua-color: #2DCCCD;
    --blueAquaDark-color: #028484;
    --blueAquaLight-color: #5AC4C4;
    --blueAquaMedium-color: #02A5A5;
    --blueAquaWhite-color: #EAF9FA;
    --blue-color: #004481;
    --blueDark-color: #043263;
    --blueDark2-color: #064d8f;
    --blueLight-color: #5BBEFF;
    --blueLight2-color: #D4EDFC;
    --blueMedium-color: #1973B8;
    --blueMedium2-color: #49A5E6;
    --blueNavy-color: #072146;
    --blue-colorGradient: linear-gradient(180deg, rgba(0,117,186,1) 0%, rgba(0,88,160,1) 100%);
    --coral-color: #F35E61;
    --coralDark-color: #CB353A;
    --coralLight-color: #F59799;
    --coralMedium-color: #D44B50;
    --coralWhite-color: #FCDFDF;
    --gray-color: #BDBDBD;
    --grayDark-color: #666666;
    --grayDark2-color: #444444;
    --grayLight-color: #E9E9E9;
    --green-color: #48AE64;
    --greenDark-color: #277A3E;
    --greenLight-color: #88CA9A;
    --greenMedium-color: #388D4F;
    --greenWhite-color: #D9EFE0;
    --orange-color: #F7893B;
    --orangeDark-color: #C65302;
    --orangeLight-color: #FAB27F;
    --orangeMedium-color: #D8732C;
    --orangeWhite-color: #FDE7D8;
    --pink-color: #F78BE8;
    --pinkDark-color: #AD53A1;
    --pinkLight-color: #FAB3F0;
    --pinkMedium-color: #C569B9;
    --pinkWhite-color: #FDDCF8;
    --purple-color: #8F7AE5;
    --purpleDark-color: #6754B8;
    --purpleDark2-color:#392b74;
    --purpleDark3-color:#271c50;
    --purpleLight-color: #B6A8EE;
    --purpleMedium-color: #7C6AC7;
    --purpleWhite-color: #DDD7F7;
    --red-color: #DA3851;
    --redDark-color: #B92A45;
    --redLight-color: #E77D8E;
    --redMedium-color: #C0475E;
    --redWhite-color: #F4C3CA;
    --sand-color: #D8BE75;
    --sandDark-color: #8E7022;
    --sandLight-color: #E6D5A5;
    --sandMedium-color: #B79E5E;
    --sandWhite-color: #F3EBD5;
    --white-color: #f3f3f3;
    --yellow-color: #ffde00;
    --yellowDark-color: #9C6C01;
    --yellowLight-color: #FADE8E;
    --yellowMedium-color: #C49735;
    --yellowWhite-color: #FEF5DC;
    --parallax-Background:url("assets/images/general/backgroundWallpaperDarkMode.webp");
}
:root[data-theme='light']{
    --parallax-Background:url("assets/images/general/backgroundWallpaperLightMode.webp");
}
@font-face {
    font-family: Kanit;
    src: url('assets/fonts/Kanit/Kanit.woff2');
}