/*LIBRARIES*/
@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
/*Delete these divs cause PrimeNg doenst allow to remove them*/
.p-timeline-event-opposite{
    display: none;
}
/*COLORS*/
@import 'cssVariables.css';
*:not(.material-icons) {
    font-family: Kanit !important;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 0.625rem !important;
}

::-webkit-scrollbar-thumb {
    background: var(--blue-color);
    border-radius: 0.625rem;
    border: 0.063rem solid var(--white-color);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--purpleDark3-color);
    color:var(--white-color) ;
    height: 100%;
}
.parallaxBackground {
    background-image: url("assets/images/general/backgroundWallpaper2.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0;
}
/*ANCHORS*/
a{
    text-decoration: none;
    transition: all 0.3s;
}
/*FONTS*/
h1{
    font-size: 4rem;
}
.titleSection{
    color: var(--yellow-color);
    font-weight: bold;
    font-style: italic;
}
.subtitleSection{
    color: var(--grayDark-color);
    font-weight: bold;
}
/*INPUTS*/
textarea{
    resize: vertical;
    min-height: 45px;
    max-height: 100px;
    form-sizing:content;
}
/*SCROLL TOP BUTTON*/
button.scrolltopButton {
    border-radius: 50%;
    background-color: var(--yellow-color);
    transition: background 0.3s;
}
button.scrolltopButton:hover {
    border-radius: 50%;
    background-color: var(--yellowMedium-color);
}
/*BUTTONS*/
.aesyButton{
    color: var(--white-color);
    background-color: transparent;
    border:1px solid var(--white-color);
    border-radius: 0.375rem;
    padding:0.275rem;
    box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.99);
    transition: all 0.3s;
}
.aesyButton:hover{
    background-color: var(--grayDark-color);
    transform: scale(1.1);
}
.aesyButton.greenButton{
    border:0px;
    background-color: var(--green-color);
    box-shadow: 2px 2px 0px 0px var(--greenDark-color);   
}
.aesyButton.greenButton:hover{
    background-color: var(--greenMedium-color); 
}
.aesyButton span{
    vertical-align: middle;
    padding: 0 0.2rem;
}