<section class="col hiddenSection" id="experienceSection" style="padding-top: 6rem;">
    <h1 class="titleSection">{{'experience.title' | translate}}</h1>   
    <p-timeline [value]="experienceData" styleClass="mt-3">
        <ng-template pTemplate="marker" let-exp>
            <div class="badgetTimeline" [style.backgroundColor]="exp.Color">
                <span class="material-icons">rocket</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content" let-exp>
            <h5 class="dateTimeLine">{{exp.Company}} ({{exp.Date | translate}})</h5>
            <h4 class="jobTimeLine">{{exp.Job | translate}}</h4>
            <h5>{{exp.Description | translate}}</h5>
            <!-- <p-chip *ngFor="let tech of exp.Technologies" label="{{tech.Name}}" image="{{tech.Src}}" styleClass="technologiesTimeLine me-1"></p-chip> -->
            <div *ngFor="let tech of exp.Technologies" class="technologiesTimeLine me-1">
                <img src="{{tech.Src}}" alt="{{tech.Name}} Icono" width="400" height="400" priority>
                <span>{{tech.Name}}</span>  
            </div>
        </ng-template>
    </p-timeline>
</section> 